@utility prose {
	--tw-prose-body: var(--color-text);
	--tw-prose-bold: var(--color-text);
	--tw-prose-bullets: var(--color-text);
	--tw-prose-code: var(--color-text);
	--tw-prose-headings: var(--color-heading);
	--tw-prose-hr: 0.5px dashed #666;
	--tw-prose-links: var(--color-text);
	--tw-prose-quotes: var(--color-quote);
	--tw-prose-th-borders: #666;
}
