---
import { menuLinks } from "@/site.config";
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top font-semibold text-gray-600 sm:flex-row sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="me-0 sm:me-4">
		<span class="inline-block">Больше чем чат</span>
	</div>
	<nav
		aria-labelledby="footer_links"
		class="flex flex-wrap items-center gap-x-2"
	>
		<p id="footer_links" class="sr-only">Навигация по сайту</p>
		{
			menuLinks.map((link, index) => (
				<>
					{index > 0 && <span aria-hidden="true">·</span>}
					<a class="nav-link py-2 sm:py-1" href={link.path}>
						{link.title}
					</a>
				</>
			))
		}
	</nav>
</footer>
