---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

interface Props {
	isCompact?: boolean;
	menuId: string;
}

const { isCompact = false, menuId } = Astro.props;
---

<Search isCompact={isCompact} />
<ThemeToggle isCompact={isCompact} />
<mobile-nav-toggle>
	<button
		aria-controls={menuId}
		aria-expanded="false"
		aria-haspopup="menu"
		class:list={[
			"group relative ms-4 sm:invisible sm:hidden",
			isCompact ? "h-6 w-6" : "h-7 w-7",
		]}
		type="button"
	>
		<span class="sr-only">Открыть главное меню</span>
		<svg
			aria-hidden="true"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			fill="none"
			focusable="false"
			stroke="currentColor"
			stroke-width="1.5"
			viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
		<svg
			aria-hidden="true"
			class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			fill="none"
			focusable="false"
			stroke="currentColor"
			stroke-width="1.5"
			viewBox="0 0 24 24"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</button>
</mobile-nav-toggle>

<script>
	import "@/scripts/mobile-nav-toggle";
</script>
