---
import type { CollectionEntry } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";

interface Props {
	posts: CollectionEntry<"post">[];
}

const { posts } = Astro.props;
---

{
	posts.length > 0 && (
		<section class="mb-10">
			<h2 class="page-title mb-3 text-xl">Ключевое</h2>
			<ul class="space-y-1" role="list">
				{posts.map((post) => (
					<li>
						<PostPreview post={post} />
					</li>
				))}
			</ul>
		</section>
	)
}
