---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Страница не найдена",
	title: "Страница не найдена",
};
---

<PageLayout meta={meta}>
	<h1 class="page-title mb-12">404 | Страница не найдена</h1>
	<p class="mb-8">Воспользуйтесь навигацией, чтобы вернуться к содержимому сайта.</p>
</PageLayout>
