---
// Heavy inspiration taken from Astro Starlight -> https://github.com/withastro/starlight/blob/main/packages/starlight/components/Search.astro

import "@/styles/blocks/search.css";

interface Props {
	isCompact?: boolean;
}

const { isCompact = false } = Astro.props;
---

<site-search class="ms-auto" id="search">
	<button
		aria-keyshortcuts="Control+K Meta+K"
		class:list={[
			"hover:text-accent flex cursor-pointer items-center justify-center rounded-md",
			isCompact ? "h-8 w-8" : "h-9 w-9",
		]}
		data-open-modal
		disabled
	>
		<svg
			aria-hidden="true"
			class:list={[isCompact ? "h-6 w-6" : "h-7 w-7"]}
			fill="none"
			height="16"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="1.5"
			viewBox="0 0 24 24"
			width="16"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M0 0h24v24H0z" stroke="none"></path>
			<path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6"></path>
		</svg>
		<span class="sr-only">Открыть поиск</span>
	</button>
	<dialog
		aria-label="поиск"
		class="h-full max-h-full w-full max-w-full bg-transparent text-text backdrop:backdrop-blur-sm open:flex sm:mx-auto sm:mb-auto sm:mt-16 sm:h-max sm:max-h-[calc(100%-8rem)] sm:min-h-[15rem] sm:w-5/6 sm:max-w-[48rem]"
	>
		<div class="dialog-frame relative flex grow flex-col gap-4 p-0 pt-14 sm:pt-0">
			<button
				class="absolute end-0 top-0 cursor-pointer p-2 text-text/70 hover:text-accent"
				data-close-modal
				type="button"
			>
				<span class="sr-only">Закрыть</span>
				<svg
					aria-hidden="true"
					class="h-6 w-6"
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
			{
				import.meta.env.DEV ? (
					<div class="pt-6 text-center">
						<p>
							Поиск доступен только в production-сборке. <br />
							Соберите сайт и запустите preview, чтобы проверить его локально.
						</p>
					</div>
				) : (
					<div class="search-container pt-4 sm:pt-6">
						<div id="site-search-ui" />
					</div>
				)
			}
		</div>
	</dialog>
</site-search>

<script>
	class SiteSearch extends HTMLElement {
		#closeBtn: HTMLButtonElement | null;
		#dialog: HTMLDialogElement | null;
		#dialogFrame: HTMLDivElement | null;
		#openBtn: HTMLButtonElement | null;
		#controller: AbortController;

		constructor() {
			super();
			this.#openBtn = this.querySelector<HTMLButtonElement>("button[data-open-modal]");
			this.#closeBtn = this.querySelector<HTMLButtonElement>("button[data-close-modal]");
			this.#dialog = this.querySelector<HTMLDialogElement>("dialog");
			this.#dialogFrame = this.querySelector(".dialog-frame");
			this.#controller = new AbortController();

			// Set up events
			if (this.#openBtn) {
				this.#openBtn.addEventListener("click", this.openModal);
				this.#openBtn.disabled = false;
			} else {
				console.warn("Кнопка поиска не найдена");
			}

			if (this.#closeBtn) {
				this.#closeBtn.addEventListener("click", this.closeModal);
			} else {
				console.warn("Кнопка закрытия не найдена");
			}

			if (this.#dialog) {
				this.#dialog.addEventListener("close", () => {
					window.removeEventListener("click", this.onWindowClick);
				});
			} else {
				console.warn("Диалоговое окно не найдено");
			}

			// only add pagefind in production
			if (import.meta.env.DEV) return;
			const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));
			onIdle(async () => {
				const { PagefindUI } = await import("@pagefind/default-ui");
				new PagefindUI({
					baseUrl: import.meta.env.BASE_URL,
					bundlePath: import.meta.env.BASE_URL.replace(/\/$/, "") + "/pagefind/",
					element: "#site-search-ui",
					showImages: false,
					showSubResults: true,
				});
			});
		}

		connectedCallback() {
			// window events, requires cleanup
			window.addEventListener("keydown", this.onWindowKeydown, { signal: this.#controller.signal });
		}

		disconnectedCallback() {
			this.#controller.abort();
		}

		openModal = (event?: MouseEvent) => {
			if (!this.#dialog) {
				console.warn("Диалоговое окно не найдено");
				return;
			}

			this.#dialog.showModal();
			this.querySelector("input")?.focus();
			event?.stopPropagation();
			window.addEventListener("click", this.onWindowClick, { signal: this.#controller.signal });
		};

		closeModal = () => this.#dialog?.close();

		onWindowClick = (event: MouseEvent) => {
			const target = event.target as Node | null;
			const isLink = !!(event.target && "href" in (event.target as object));
			// make sure the click is either a link or outside of the dialog
			if (isLink || (target && document.body.contains(target) && !this.#dialogFrame?.contains(target))) {
				this.closeModal();
			}
		};

		onWindowKeydown = (e: KeyboardEvent) => {
			if (!this.#dialog) {
				console.warn("Диалоговое окно не найдено");
				return;
			}
			// check if it's the Control+K or ⌘+K shortcut
			if ((e.metaKey === true || e.ctrlKey === true) && e.key === "k") {
				this.#dialog.open ? this.closeModal() : this.openModal();
				e.preventDefault();
			}
		};
	}

	if (!customElements.get("site-search")) {
		customElements.define("site-search", SiteSearch);
	}
</script>
