---
import "@/styles/blocks/search.css";

interface Props {
	isCompact?: boolean;
}

const { isCompact = false } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
const bundlePath = `${baseUrl.replace(/\/$/, "")}/pagefind/`;
---

<div class="site-search ms-auto" data-compact={isCompact ? "true" : "false"} id="search" transition:persist>
	<pagefind-config base-url={baseUrl} bundle-path={bundlePath} lang="ru-RU"></pagefind-config>
	<pagefind-modal-trigger compact hide-shortcut placeholder="Открыть поиск"
	></pagefind-modal-trigger>
	{
		import.meta.env.DEV ? (
			<pagefind-modal id="site-search-modal">
				<pagefind-modal-body>
					<div class="site-search-dev-message">
						<p>
							Поиск доступен только в production-сборке. <br />
							Соберите сайт и запустите preview, чтобы проверить его локально.
						</p>
					</div>
				</pagefind-modal-body>
			</pagefind-modal>
		) : (
			<pagefind-modal id="site-search-modal" />
		)
	}
</div>

<script>
	import "@pagefind/component-ui";
</script>
