---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<FormattedDate
	class="inline-block w-[8.5rem] flex-none text-gray-600 tabular-nums dark:text-gray-400"
	date={post.data.publishDate}
/>
<Tag>
	<a class="text-link" href={`/posts/${post.id}/`}>
		{post.data.title}
		{post.data.draft && <span aria-hidden="true"> 🚧</span>}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 italic">{post.data.description}</q>}
